header.header
  .container
    .header-menu
      .header-menu-item
        a.header-menu-home(href="#")
          i.fas.fa-home.header-menu-icon
          span.header-menu-title Trường đại học Văn Lang
      //- .header-menu-item
      //-   a.header-menu-signin(href="#")
      //-     i.fas.fa-sign-in-alt.header-menu-icon
      //-     span.header-menu-title Đăng nhập