section.option
  .container
    .option-wrap
      h3.option-heading Đăng nhập
      .option-signin
        .option-signin-item
          img(src="../images/logoVLU.png", alt="").option-signin-image
          span.option-signin-title VLU
        .option-signin-item
          img(src="../images/logoClient.png", alt="").option-signin-image
          span.option-signin-title Doanh nghiệp
      .option-desc
        img(src="../images/bell1.png", alt="").option-desc-image
        p.option-desc-text Website thuộc quyền sở hữu của khoa CNTT