.header {
  background-color: #000;
  &-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;
  }
  &-menu-home,
  &-menu-signin {
    color: #fff;
  }

  &-menu-icon {
    font-size: 2rem;
  }

  &-menu-title {
    user-select: none;
    margin-left: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $secondary-font;
    font-size: 2rem;
  }

  @media (max-width: 479px) {
    &-menu-title {
      font-size: 1.5rem;
    }
  }
}
