html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

body {
  font-size: 1.4rem;
  line-height: 1;
  font-family: "Nunito Sans", sans-serif; }

.wrapper {
  max-width: 1920px; }

.container {
  width: calc($container + 3rem);
  padding-inline: 1.5rem;
  margin: 0 auto; }

.header {
  background-color: #000; }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-block: 2rem; }
  .header-menu-home, .header-menu-signin {
    color: #fff; }
  .header-menu-icon {
    font-size: 2rem; }
  .header-menu-title {
    margin-left: 1rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Quicksand", sans-serif; }

.option {
  background: linear-gradient(135deg, rgba(206, 27, 40, 0.7) 0%, rgba(17, 17, 17, 0.7) 74%), url("../../images/bg-vlu.jpg") no-repeat center/cover;
  color: #fff;
  padding-block: 20rem;
  margin: 0 auto; }
  .option-wrap {
    max-width: 100rem;
    margin: 0 auto; }
  .option-heading {
    font-size: 4rem;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    font-weight: 700; }
  .option-signin {
    margin-top: 5rem; }
  .option-signin-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    border-radius: 10px;
    padding-block: 5rem;
    -webkit-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    will-change: background-color; }
    .option-signin-item:hover {
      background-color: rgba(0, 0, 0, 0.5); }
  .option-signin-image {
    width: 30%;
    height: 15rem;
    margin: 0 auto; }
  .option-signin-title {
    margin-top: 2rem;
    font-size: 3rem;
    text-transform: uppercase; }
  .option-desc {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;
    margin-top: 3rem;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    will-change: transform; }
  .option-desc-text {
    margin-left: 2rem;
    font-size: 2rem; }
  @media (max-width: 1023px) {
    .option-signin-image {
      width: 40%; } }
  @media (min-width: 768px) {
    .option-signin {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .option-signin-item {
      width: calc(50% - 2rem); } }
  @media (max-width: 767px) {
    .option-signin-item:first-child {
      margin-bottom: 2rem; }
    .option-signin-item {
      width: 60%;
      margin: 0 auto; } }
  @media (max-width: 479px) {
    .option-signin-image {
      width: 50%; }
    .option-signin-item {
      width: 90%;
      margin: 0 auto; } }

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 51, 51, 0.9)), to(rgba(175, 137, 130, 0.8))), url("../../images/bg-footer.png") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(51, 51, 51, 0.9), rgba(175, 137, 130, 0.8)), url("../../images/bg-footer.png") no-repeat center/cover;
  color: #fff; }
  .footer-wrap {
    padding-block: 10rem;
    max-width: 100rem;
    margin: 0 auto; }
  .footer-image {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -o-object-fit: cover;
    object-fit: cover; }
  .footer-info-heading {
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #fff;
    font-weight: bold; }
    .footer-info-heading > i {
      margin-right: 1rem; }
  .footer-info-text {
    font-size: 1.8rem;
    margin-top: 1rem;
    font-weight: bold; }
    .footer-info-text span {
      opacity: 0.8;
      font-weight: normal; }
  @media (max-width: 1023px) {
    .footer-image {
      width: 30%; }
    .footer-info-text {
      font-size: 1.5rem; } }
  @media (min-width: 768px) {
    .footer-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media (max-width: 767px) {
    .footer-image {
      width: 50%;
      margin: 0 auto; }
    .footer-info {
      margin-top: 2rem;
      text-align: center; }
    .footer-info-heading {
      display: none; } }
  @media (max-width: 479px) {
    .footer-info-text {
      font-size: 1.2rem; } }
  @media (max-width: 376px) {
    .footer-info-text {
      font-size: 1rem; } }

button,
input {
  outline: none;
  font-family: "Nunito Sans", sans-serif; }

button {
  cursor: pointer; }
